params {
    config_profile_name        = 'Large profile'
    config_profile_description = 'Profile for large fastqc files.'

}

process {
    withLabel:process_single {
        cpus   = { check_max( 12     * task.attempt, 'cpus'    ) }
        memory = { check_max( 24.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 18     * task.attempt, 'cpus'    ) }
        memory = { check_max( 48.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 24    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 72.h, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 249.GB, 'memory' ) }
    }
}