params {
    config_profile_name        = 'Light profile'
    config_profile_description = 'Profile for personal computers'
}

process {
    withLabel:process_single {
        cpus   =  1
        memory = 8.GB
        time   = 4.h
    }
    withLabel:process_low {
        cpus   =  6
        memory = 6.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  6
        memory = 16.GB
        time   = 4.h
    }
    withLabel:process_high {
        cpus   =  6
        memory = 24.GB
        time   = 4.h
    }
    withLabel:process_high_memory {
        memory = 24.GB
    }
}