params {
    config_profile_name        = 'Medium profile'
    config_profile_description = 'Profile for medium size fastq files'
}

process {
    withLabel:process_single {
        cpus   =  6
        memory = 18.GB
        time   = 8.h
    }
    withLabel:process_low {
        cpus   =  2
        memory = 15.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   =  12
        memory = 36.GB
        time   = 8.h
    }
    withLabel:process_high {
        cpus   =  16
        memory = 72.GB
        time   = 20.h
    }
    withLabel:process_high_memory {
        cpus = 6
        memory = 200.GB
        time = 12.h
    }
}