/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

   withName: FASTQC_RAW {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/raw_reads" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: FASTQC_FILT {
        ext.args = '--quiet'
        ext.prefix = { "filtered_${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/fastqc/filt_reads" },
            mode: params.publish_dir_mode,
        ]
    }

    withName: NANOCOMP_RAW_BOX {
        ext.args   = {"--plot box"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/raw_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOCOMP_FILT_BOX {
        ext.args   = {"--plot box"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/filt_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHOPPER {
        ext.args2   = {"-q ${params.minqual} -l ${params.minlen} --maxlength ${params.maxlen} --maxgc ${params.maxgc} --mingc ${params.mingc} --headcrop ${params.headcrop} --tailcrop ${params.tailcrop}"}
        ext.prefix = {"filtered_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/chopper" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

     withName: MINIMAP2_ALIGN {
        ext.args   = "-ax splice"
        publishDir = [
            path: { "${params.outdir}/minimap2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

     withName: MAPPED {
        ext.args   = "--output-fmt sam -c -F 4"
        ext.prefix = {"mapped_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/samtools/mapped" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
     withName: UNMAPPED {
        ext.args   = "--output-fmt sam -c -f 4"
        ext.prefix = {"unmapped_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/samtools/unmapped" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
     withName: TOTAL {
        ext.args   = "--output-fmt sam -c"
        ext.prefix = {"total_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/samtools/total" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
     withName: PRIMARY {
        ext.args   = "--output-fmt sam -c -F 256"
        ext.prefix = {"primary_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/samtools/primary" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
