/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: NANOPLOT_RAW {
        ext.args   = {"--plots dot kde --N50 --no_static --prefix ${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/nanoplot/raw_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOPLOT_FILT {
        ext.args   = {"--plots dot kde --N50 --no_static --prefix filt_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/nanoplot/filt_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: NANOCOMP_RAW_VIOLIN {
        ext.args   = {"--plot violin"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/raw_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOCOMP_RAW_BOX {
        ext.args   = {"--plot box"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/raw_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOCOMP_RAW_RIDGE {
        ext.args   = {"--plot ridge"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/raw_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOCOMP_FILT_VIOLIN {
        ext.args   = {"--plot violin"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/filt_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOCOMP_FILT_BOX {
        ext.args   = {"--plot box"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/filt_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: NANOCOMP_FILT_RIDGE {
        ext.args   = {"--plot ridge"}
        publishDir = [
            path: { "${params.outdir}/nanocomp/filt_reads" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CHOPPER {
        ext.args2   = {"-q ${params.minqual} -l ${params.minlen} --maxlength ${params.maxlen} --maxgc ${params.maxgc} --mingc ${params.mingc} --headcrop ${params.headcrop} --tailcrop ${params.tailcrop}"}
        ext.prefix = {"filtered_${meta.id}"}
        publishDir = [
            path: { "${params.outdir}/chopper" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
