/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/longnoncoder -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 10
    max_memory = '16.GB'
    max_time   = '20.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input           = "$projectDir/test_data/samples_test.csv"
 
    // Skips
    skip_qc            = false
    skip_filtering     = false
    skip_alignment     = false
    skip_alignment_qc  = false
 
    // Filtering raw reads options
    // Filtering options
    minqual                    = 10
    minlen                     = 200
    maxlen                     = 2147483647
    maxgc                      = 0.6
    mingc                      = 0.4
    headcrop                   = 0
    tailcrop                   = 0
    
    // Alignment options
    reference                  = "$projectDir/test_data/GRCh38_EDIL3.fa"
    bam_format                 = true
    cigar_paf_format           = false
    cigar_bam                  = false
}
