/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/longnoncoder -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 6
    max_memory = '6.GB'
    max_time   = '20.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input           = "$projectDir/test_data/samples_test_full.csv"

    // Skips
    skip_qc            = false
    skip_filtering     = false
    skip_alignment     = false
    skip_alignment_qc  = false

    // Filtering raw reads options
    // Filtering options
    minqual                    = 10
    minlen                     = 200
    maxgc                      = 0.6
    mingc                      = 0.4
    headcrop                   = 0
    tailcrop                   = 0

    // Alignment options
    reference                  = "$projectDir/test_data/chr22_1-17550000.fa"
    bam_format                 = true
    cigar_paf_format           = false
    cigar_bam                  = false

    //Bambu options
    annotation                 = "$projectDir/test_data/chr22_1-17500000.gtf"
}
